
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sliderpageone">
    <div class="container">
        <div class="sliderpagetwo">
            <div class="slider">
                <div class="sliderpage d-flex justify-content-between">
                    <div class="col-lg-6">
                        <div class="img">
                            <img src="https://unibank.az/uploads/banners/1681193995200-azn-dovriyye.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text">
                            <h1>Ləğv olundu!</h1>
                            <p>
                                Artıq UCard-la dünyanın istənilən yanacaqdoldurma, kafe-restoran və marketlərində 5%
                                keşbek qazanmaq üçün 200 AZN dövriyyə tələbi yoxdur!
                            </p>
                            <a href="#">Ətraflı</a>
                        </div>
                    </div>
                </div>
                <div class="sliderpage d-flex justify-content-between">
                    <div class="col-lg-6">
                        <div class="img img2">
                            <img src="https://unibank.az/uploads/banners/16708419491664282439Toplabanner.lastpng.png"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text">
                            <h1>Topla</h1>
                            <p>İstənilən arzunu reallaşdır! Hədəfinə ad ver və daxılına pul köçürməyə başla!</p>
                            <a href="#">Ətraflı</a>
                        </div>
                    </div>
                </div>
                <div class="sliderpage d-flex justify-content-between">
                    <div class="col-lg-6">
                        <div class="img img3">
                            <img src="https://unibank.az/uploads/banners/1673854081cover-ne.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text">
                            <h1>Sənin kartın, sənin “art”ın!</h1>
                            <p>
                                UBank-a daxil ol, Apple Wallet / Google Wallet™dakı Unibank kartlarını istədiyin
                                dizayna dəyiş və hamıdan fərqli ol!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sliderpage d-flex justify-content-between">
                    <div class="col-lg-6">
                        <div class="img img2">
                            <img src="https://unibank.az/uploads/banners/16703977791661845566digerbank.gif" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text">
                            <h1>Kartdan karta - pulsuzdur!</h1>
                            <p>
                                Unibank kartlarına limitsiz, ölkədaxili digər bank kartlarına isə 2000 AZN-dək
                                köçürmələri 0% ilə et!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uls">
            <ul>
                <li class="selected"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

<div class="cartindex">
    <div class="container">
        <div class="row">
            <div class="cartbox col-lg-3 text-lg-center">
                <div class="cartboxpage">
                    <h3 class="carth3">Nağd kreditlər</h3>
                    <h1 class="carth1">16%</h1>
                    <p class="cartp">-dən başlayaraq</p>
                    <a class="carta" href="#">Sifariş et</a>
                </div>
            </div>
            <div class="cartbox col-lg-3 text-lg-center">
                <div class="cartboxpage">
                    <h3 class="carth3">Əmanətlər</h3>
                    <h1 class="carth1">11%</h1>
                    <p class="cartp">-dək illik gəlir</p>
                    <a class="carta" href="#">Ətraflı</a>
                </div>
            </div>
            <div class="cartbox col-lg-3 text-lg-center">
                <div class="cartboxpage">
                    <h3 class="carth3">Plastik kartlar</h3>
                    <h1 class="carth1">30%</h1>
                    <p class="cartp">-dən keşbek xidməti</p>
                    <a class="carta" href="#">Ətraflı</a>
                </div>
            </div>
            <div class="cartbox col-lg-3 text-lg-center">
                <div class="cartboxpage">
                    <h3 class="carth3">Kredit kartı</h3>
                    <h1 class="carth1">40%</h1>
                    <p class="cartp">günədək güzəşt müddəti</p>
                    <a class="carta" href="#">Ətraflı</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="youcart">
    <div class="container">
        <div class="youcartpage">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="youcartimg">
                        <img src="Asserts/IMAGE/ucard (8).webp" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="youcartext">
                        <h1>Sənin kartın - UCarddır!</h1>
                        <p>
                            Bu kart sənə dünyanın istənilən yerində multivalyutalı hesablarla alış-veriş imkanı, 10
                            000 ₼-dək və 40 günədək faizsiz kredit xətti, 30%-dək keşbek və illik 6%-dək gəlir əldə
                            etmək imkanı verir. Bir sözlə, bütün ehtiyaclar tək kartda!
                        </p>
                        <div class="youcarta">
                            <a class="youcartaone" href="">Ətraflı</a>
                            <p class="pclassone">Partnyorlar</p>
                            <p class="pclasstwo">Şəxsi kabinet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ubank">
    <div class="container">
        <div class="ubankpage">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ubanktext">
                        <h2>UBank</h2>
                        <p>
                            UBank 24/7 bank xidmətlərinə çıxışı smartfonunda təmin edən mobil əlavədir. Ödənişlərini
                            banka gəlmədən, telefonunuzda bir toxunuşla həyata keçir!
                        </p>
                        <div class="ubankspan">
                            <span class="spanubankone"><img src="Asserts/IMAGE/playstore (1).png" alt=""></span>
                            <span class="spanubanktwo"><img src="Asserts/IMAGE/appstore.svg" alt=""></span>
                            <span class="spanubankthree"><img src="Asserts/IMAGE/app-gallery.svg" alt=""></span>
                        </div>
                        <a class="ubanka" href="">Haqqında</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ubankimg">
                        <img src="https://unibank.az/assets/images/appbar2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="exchange mb-5">
    <div class="all_exchange">
        <div class="container">
            <div class="all_content_exchange">
                <div class="content_exchange">
                    <div class="exchange_text">
                        <h2>Valyuta məzənnələri</h2>
                    </div>
                    <div class="all_exch row">
                        <div class="col-lg-4 ">
                            <div class="cash">Nağd</div>
                            <div class="date_exchange">
                                <p>Yeniləndi 20.04.2023</p>
                            </div>
                            <div class="exchange_table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Valyuta</th>
                                            <th>Alış</th>
                                            <th>Satış</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>USD</td>
                                            <td>1.6970 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>1.7015 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>EUR</td>
                                            <td>1.8313 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>1.8886 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>RUB</td>
                                            <td>0.0199 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>0.0212 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>GBP</td>
                                            <td>2.0816 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>2.1492 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="cash">Nağdsız</div>
                            <div class="date_exchange">
                                <p>Yeniləndi 20.04.2023</p>
                            </div>
                            <div class="exchange_table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Valyuta</th>
                                            <th>Alış</th>
                                            <th>Satış</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>USD</td>
                                            <td>1.6970 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>1.7015 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>EUR</td>
                                            <td>1.8313 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>1.8886 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>RUB</td>
                                            <td>0.0199 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>0.0212 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>GBP</td>
                                            <td>2.0816 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>2.1492 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="cash">Kart</div>
                            <div class="date_exchange">
                                <p>Yeniləndi 20.04.2023</p>
                            </div>
                            <div class="exchange_table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Valyuta</th>
                                            <th>Alış</th>
                                            <th>Satış</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>USD</td>
                                            <td>1.6970 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>1.7015 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>EUR</td>
                                            <td>1.8313 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>1.8886 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>RUB</td>
                                            <td>0.0199 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>0.0212 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                        <tr>
                                            <td>GBP</td>
                                            <td>2.0816 <i class="fa-solid fa-chevron-down"></i></td>
                                            <td>2.1492 <i class="fa-solid fa-chevron-down"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="colorcal">
                    <div class="valyutaindex">
                        <div class="calreng">
                            <div class="valcalone">
                                <h1>Valyuta kalkulyatoru</h1>
                                <p>Nəğd məzzənnə əsasında hesablanır</p>
                            </div>
                            <div class="valcaltwo">
                                <div class="pcal">
                                    <p>0</p>
                                </div>
                                <div class="imgcal">
                                    <img src="https://unibank.az/assets/images/usd.png" alt="">

                                </div>
                                <div class="spancal">
                                    <span>USD</span>
                                </div>

                                <div class="iconcal">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="calara">
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                            <div class="valcalthree">
                                <div class="pcal">
                                    <p>0</p>
                                </div>
                                <div class="imgcal">
                                    <img src="https://unibank.az/assets/images/azn.png" alt="">

                                </div>
                                <div class="spancal">
                                    <span>USD</span>
                                </div>
                                <div class="iconcal">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


</section>


<div class="unibankwrite">
    <div class="container">
        <div class="writepage">
            <div class="row">
                <div class="col-lg-4">
                    <div class="writebox">
                        <h3>Unibank NCR və GRG ATM-lər üçün kasset alınması ilə bağlı tender keçirir</h3>
                        <p>
                            Unibank KB NCR və GRG ATM-lər üçün kaset alınması ilə bağlı tender elan edib. Tenderdə
                            iştirak
                            etmək istəyənlər qiymət təkliflərini bağlı və möhürlənmiş zərfdə Tender komissiyasının
                            sədri
                            Faiq Zeynalovun adına göndərməlidirlər.
                        </p>
                        <span>27.04.2023</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="writebox">
                        <h3>Unibank birinci rübü mənfəətlə başa vurub</h3>
                        <p>
                            Unibank” KB ASC 2023-cü ilin birinci rübü üzrə əsas maliyyə göstəricilərini açıqlayıb. 31
                            mart 2023-cü il tarixinə Bankın əməliyyat mənfəəti 15 milyon manata yaxın olub. Hesabat
                            dövrü ərzində Bankın məcmu gəlirlərində ciddi artım qeydə alınıb. Dövr ərzində cəmi
                            gəlirlər
                            ötən ilin müvafiq dövrü ilə müqayisədə 56% artaraq, 75...
                        </p>
                        <span>25.04.2023</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="writebox">
                        <h3>Sənin kartın 1 yaşını qeyd edir</h3>
                        <p>
                            Ölkə bank bazarında ilk olaraq kredit və multivalyutalı debet kartını özündə birləşdirən
                            tək
                            kartın – “Unibank”ın UCard məhsulunun müştərilərin istifadəsinə verilməsindən 1 il ötür.
                            Dörd fərqli valyutada hesabları olan (AZN, USD, EUR, GBP) debet kartını və AZN valyutalı
                            kredit xəttini birləşdirən UCard, hər parametri ilə...
                        </p>
                        <span>13.04.2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="allinfo">
    <div class="container">
        <a href="">Bütün xəbərlər</a>
    </div>
</div>

<div class="service">
    <div class="container">
        <div class="netwook">
            <div class="row">
                <div class="col-lg-7">
                    <div class="servicepageone">
                        <div class="servicetext">
                            <h2>Xidmət şəbəkəsi</h2>
                            <p>
                                Filial və UTM-lərin ünvanları, həmçinin - iş saatları və digər məlumatlar haqqında
                                ətraflı.
                            </p>
                            <a href="">Daha ətraflı</a>
                        </div>
                        <div class="ximg">
                            <img src="https://unibank.az/assets/images/Bitmap.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="servicepagetwo">
                        <div class="yimg">
                            <img src="https://unibank.az/assets/images/callcenter.svg" alt="">
                        </div>
                        <div class="servicetexttwo">
                            <h2>
                                Sualın var?
                            </h2>
                            <h2>Bizimlə əlaqə saxla!</h2>
                            <p>
                                Onlayn-məsləhətçi, 117 Çağrı mərkəzi və ya bank filiallarına müraciət et və
                                suallarına cavab al. Rahat və asan!
                            </p>
                            <a href="">Daha ətraflı</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="writebox">
    <div class="container">
        <div class="writeboxpage">
            <div class="row">
                <div class="writeboxpageall">
                    <div class="boxkart">
                        <div class="h1box">
                            <h6 class="h6one">Kartlar</h6>
                        </div>
                        <div class="uls">
                            <ol>
                                <li>Kartlar</li>
                                <li>Debet kartlar</li>
                                <li>Diger</li>
                            </ol>
                        </div>
                    </div>
                    <div class="boxkart">
                        <div class="h1box">
                            <h6 class="h6two">Kreditlər</h6>
                        </div>
                        <div class="uls">
                            <ol>
                                <li>Nağd</li>
                                <li>Mikro</li>
                                <li>İpoteka</li>
                            </ol>
                        </div>
                    </div>
                    <div class="boxkart">
                        <div class="h1box">
                            <h6 class="h6three">Əmanətlər</h6>
                        </div>
                        <div class="uls">
                            <ol>
                                <li>Müddətli</li>
                                <li>Proqressiv</li>
                                <li>Yığım</li>
                                <li>Faizlər əvvəlcədən</li>
                                <li>Topla</li>
                            </ol>
                        </div>
                    </div>
                    <div class="boxkart">
                        <div class="h1box">
                            <h6 class="h6four">Köçürmələr</h6>
                        </div>
                        <div class="uls">
                            <ol>
                                <li>Ölkəxarici</li>
                                <li>Ölkədaxili</li>
                            </ol>
                        </div>
                    </div>
                    <div class="boxkart">
                        <div class="h1box">
                            <h6 class="h6five">Rəqəmsal bankçılıq</h6>
                        </div>
                        <div class="uls">
                            <ol>
                                <li>UBank</li>
                                <li>İnternet bankçılıq</li>
                                <li>Şəxsi kabinet</li>
                                <li>Unimiles şəxsi kabinet</li>
                                <li>Onlayn kredit ödənişi</li>
                                <li>Onlayn kredit müraciəti</li>
                            </ol>
                        </div>
                    </div>
                    <div class="boxkart">
                        <div class="h1box">
                            <h6 class="h6sexs">Əlavə xidmətlər</h6>
                        </div>
                        <div class="uls">
                            <ol>
                                <li>Hesablaşma-kassa xidməti</li>
                                <li>POS terminal / Smart kassa</li>
                                <li>Depozit qutuları</li>
                                <li>Onlayn ticarət (eCommerce)</li>
                            </ol>
                        </div>
                    </div>
                    <div class="boxkart">
                        <div class="h1box">
                            <h6 class="h6seven">Bank haqqında</h6>
                        </div>
                        <div class="uls">
                            <ol>
                                <li>Rəhbərlik</li>
                                <li>Müxbir hesablar</li>
                                <li>Təklif və Şikayətlər</li>
                                <li>İnsan resursları</li>
                                <li>Hesabatlar</li>
                                <li>Digər sənədlər</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


