<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Asserts/IMAGE/logoone.jpeg">
    <link rel="stylesheet" href="~/Asserts/CSS/bootstrap.css">
    <link rel="stylesheet" href="~/Asserts/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Unibank</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="allone">
                <div class="logoone">
                    <a href="/home/index"><img src="~/Asserts/IMAGE/logoone.jpeg" alt=""></a>
                </div>
                <nav>
                    <a href="">F.A.Q</a>
                    <a href="">Xidmət şəbəkəsi</a>
                    <a href="">Bank haqqında</a>
                    <a href="">Keşbek</a>
                    <a href="">Tariflər</a>
                    <a href="">İnsan resursları</a>
                    <a href="">Bankla əlaqə və təkiflər</a>
                </nav>
                <div class="topbar">
                    <div class="top-one">
                        <a class="atagone" href="">Fərdi</a>
                        <a class="atagtwo" href="">Biznes</a>
                    </div>
                    <div class="top-two">
                        <span class="spanione"><i class="fa-solid fa-sun"></i></span>
                    </div>
                    <div class="top-three">
                        <a class="atagthree" href="">ENG</a>
                    </div>
                    <div class="top-threee">
                        <a class="atagfour" href="">RUS</a>
                    </div>
                    <div class="top-four">
                        <span class="spanitwo"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="menyubar">
        <div class="container">
            <div class="allmenyu">
                <div class="menyua">
                    <a href="/cards/index">Kartlar</a>
                    <a href="">Kreditlər</a>
                    <a href="">Əmanətlər</a>
                    <a href="">Köçürmələr</a>
                    <a href="">Rəqəmsal bankçılıq</a>
                    <a href="">Əlavə xidmətlər</a>
                </div>
                <div class="menyutwo">
                    <div class="menyutel">
                        <span class="menyuspanone"><i class="fa-solid fa-phone"></i> 117</span>
                    </div>
                    <div class="menyuinternet">
                        <span class="menyuspantwo"><i class="fa-solid fa-circle-right"></i> İnternet bankçılıq</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
    <div class="footerone">
        <div class="container   ">
            <div class="logodiv">
                <a class="applec" href=""> <i class="fa-brands fa-apple"></i> </a>
                <a class="androidc" href=""><span><i class="fa-solid fa-robot"></i></span></a>
                <a href=""><span><i class="fa-brands fa-facebook"></i></span></a>
                <a href=""><span><i class="fa-brands fa-twitter"></i></span></a>
                <a href=""><span><i class="fa-brands fa-line"></i></span></a>
                <a href=""><span><i class="fa-brands fa-youtube"></i></span></a>
                <a href=""><span><i class="fa-brands fa-instagram"></i></span></a>
                <a href=""><span><i class="fa-brands fa-telegram"></i></span></a>
            </div>
        </div>
    </div>

    <div class="footertwo">
        <div class="container">
            <div class="foothertwo">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="textfoother">
                            <h6>© 2023, Unibank - Sənin Bankın</h6>
                            <p>
                                Unibank Azərbaycan Respublikası Mərkəzi Bankının 73 saylı 14 dekabr 2010-cu il tarixli
                                lisenziyası əsasında fəaliyyət göstərir.
                                Bütün hüquqlar qorunur.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="imgfoother">
                            <div class="imgfootherone col-lg-2">
                                <img src="https://unibank.az/assets/images/adif.png" alt="">
                            </div>
                            <div class="imgfoothertwo col-lg-2">
                                <img src="https://avciya.az/wp-content/uploads/2021/02/Elektron-hokumet-1-650x399.jpg"
                                     alt="">
                            </div>
                            <div class="imgfootherthree col-lg-2">
                                <img src="https://unibank.az/assets/images/infobank.png?v4" alt="">
                            </div>
                            <div class="imgfootherfour col-lg-2">
                                <img src="https://unibank.az/assets/images/msp.png?v5" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Asserts/JS/app.js"></script>
</body>

</html>